* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

nav {
  color: black;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

a{
  transition: transform 0.5s ease;
}

a:hover {
  transform: scale(1.2);
}
