* {
  text-decoration: none;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;  // Space out items
  align-items: center;  // Align items vertically
  padding: 1rem 2rem;
  font-size: 1.1em;
}

.logo img {
  width: 80px; // Adjust logo size as needed
}

.top-nav {
  background-color: #a2c47f;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  height: 2rem;
}

.truck {
  width: 5rem;
  height: auto;
  position: relative;
  object-fit: contain;
  top: 0.3rem;
  left: 0.4rem;
  z-index: 2;
  
}

a{
  color: black;
  transition: transform 0.3s ease, 0.5s ease;

  &:hover{
    color: #a2c47f;
    transform: scale(1.2);
  }
}
.link-wrapper {
  flex: 3;  // Allows links to take more space
  display: flex;
  justify-content: center;  // Centering links
  gap: 4rem;
}






