* {
  text-decoration: none;
  margin: 0;
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  font-size: 1.1em;
}



.top-nav {
  background-color: #a2c47f;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  height: 2rem;
}

.truck {
  width: 5rem;
  height: auto;
  position: relative;
  object-fit: contain;
  top: 0.3rem;
  left: 0.4rem;
  z-index: 2;
  
}

a{
  color: black;
  transition: transform 0.3s ease, 0.5s ease;

  &:hover{
    color: #a2c47f;
    transform: scale(1.2);
  }
}



