.hero-container{
    .firstimg-wrapper{
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
    }

    .img1{
        background-color: antiquewhite;
        width: 820px;
        color: #812F2B;
    }

    .first-img101{
        object-fit: cover;
        height: 600px;
        width: 700px;
    }

    h1{
        font-size: 5em;
        display: flex;
        position: relative;
        left: 2rem;
    }

    p{
        font-weight:400;
        font-size: 1.2em;
    }
}